div.display{
    position: relative;
    left: 45%;
    height: 100px;
    width: 100px;
    border: black 1px solid;
    margin-bottom: 80px;
    font-size: 66px;
    font-weight: 800;
    color: red;
    padding-left: 60px;
    padding-top: 20px;
}